@import "tailwindcss";

:root {
    color-scheme: light;
    font-family: "Inter", "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #000;
    color: #fff;
}

#root {
    height: 100vh;
}
